<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}administrador de institutos!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style type="text/css">
</style>
       
    </head>
    <body>
    <div class='sf-reset'>  
		<h2>SISTEMA DE ADMINISTRACIÓN DE CURSOS</h2>
		<hr />
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        <hr />
        <h6> </h6>
     </div>
    
    </body>
</html>
