{% extends 'Persona.html.twig' %}
{% block headVista %}
	<style>
		td
		{
			text-align:center;
		}	

		.contenedor{
			margin-top:5%;
		}
	</style>

{% endblock %}
{% block contenido %}
	<div class="contenedor">
		<div class="caja col-md-10 col-md-offset-1">
		
		</div>
	</div>

{% endblock %}