{% extends 'Curso.html.twig' %}

{% block contenido %}

<center><h2>Validación de Electivas</h2></center>
<div class="row">
<center>
	<div class="col-md-12">
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
			<br>
			<br>
			Estudiante: <input type="text" class="form-control"></input>
			<button class="btn btn-primary">Ver</button>
		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>
<center>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">

		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
			LISTA
	</div>
</div>


{% endblock %}
