{% extends 'Consulta.html.twig' %}

{% block contenido %}
	
	
	<div class="container">
		<div class="row-fluid">
			<div class="col-md-12">
				<br>
				<br>
				<br>
				<h1>
					Consultas
				</h1>
				
				<textarea class="form-control" id="sql"></textarea>
			</div>
			<div class="row">	
				<br>
				<div class="col-md-1">
				
				</div>
				
				<div class="col-md-5">
					<button class="btn btn-primary" onclick="javascript:exportar(1)">Exportar Consulta</button>
					
					<input id="checkConsulta" type="checkbox"> Incluir resultado.
				</div>
				<div class="col-md-3">
					<button class="btn btn-info" onclick="javascript:exportar(2)">Exportar Resultado</button>
				</div>
				
				<div class="col-md-3">
					<h3>Tiempo: <div id="tiempoR"></div>
				</div>
			</div>
			<div class="col-md-12">
				<h1>
					Resultados
				</h1>
				
				<div id="res">
				
				</div>
			</div>
		</div>
		
	</div>		
	
	<br>
	<br>
	<br>
{% endblock %}
