{% extends 'Pensum.html.twig' %}

{% block headVista %}

 <!-- -------------- CSS - allcp forms -------------- -->
 <link rel="stylesheet" type="text/css" href="modulos/pensum/vista/html5/ccs/forms.css">

{% endblock %}

{% block contenido %}

	<div class="mw1300 center-block">

                <!-- -------------- Spec Form -------------- -->
                <div class="allcp-form">
                    <form method="post" id="form-wizard" novalidate="novalidate">
                        <div class="wizard steps-bg clearfix steps-show-icons steps-tabs steps-left" id="steps-uid-0">
                    	<div class="steps clearfix">
                    		<li role="tab" class="first current" >
                            	<a id="steps-uid-0-t-1" href="#" >
                                	<i class="icon-sitemap"></i>Informacion General
                                </a>
                            </li>        
                            <li role="tab" class="last done" >
                            	<a id="steps-uid-0-t-1" href="index.php?m_modulo=pensum&m_formato=html5&m_accion=mostrar&m_vista=Trayecto&codigoPensum=1" >
                                	<i class="icon-sitemap"></i>Trayectos
                                </a>
                            </li>
                            <li role="tab" class="last done" >
                            	<a id="steps-uid-0-t-2" href="index.php?m_modulo=pensum&m_formato=html5&m_accion=mostrar&m_vista=agregar&codigoPensum=1" >
                  			    	<i class="icon-hdd"></i> Unidad Curriculares 
                  			    </a>
                  			</li>
                  			<li role="tab" class="last done">
                  				<a id="steps-uid-0-t-2" href="index.php?m_modulo=pensum&m_formato=html5&m_accion=mostrar&m_vista=agregar&codigoPensum=1" >             
                                	<i class="fa fa-file-text pr5"></i> Prelaciones 
                            	</a>
                            </li>
                    	</div><div class="content clearfix">
     
                        <div class="col-md-12">

				    		<div class="panel" style="padding-left: 20px;">
				                    <div class="panel-heading">                       
				                         <h3><i class="icon-table"></i> Agregar/Modificar Informacion del Pensum</h3>    
				                         <span class="panel-title">Campos para agregar/modificar Pensum</span>
				                    </div>
				                    <div class="panel-body" style="min-height: 338px; padding: 0px ! important; margin-top: 4%;">

                             <div class="box-content">
						<form class="form-horizontal" >	 						
	                 <div class="container-fluid">     
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Nombre Completo:</span>
                                                <input type='text' name='nombre' onkeyup='validarSoloTexto("#nombre",5,60,true)' id='nombre' maxlength='50' class='form-control'  placeholder='Nombre'>
                                            </div>
                                        </div>
                            </div><br><br>
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Nombre Corto:</span>
                                                <input type='text' name='nom_corto' onkeyup='validarSoloTexto("#nom_corto",2,20,true)' id='nom_corto' maxlength='25' class='form-control'  placeholder='Nombre Corto'>
                                            </div>
                                        </div>
                            </div><br><br>

                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Minima cantidad electiva:</span>
                                                <input type='number' name='min_cant_elect' onkeyup="validarSoloNumeros('#min_cant_elect',1,2,true)"  maxlength='2' id='min_cant_elect'  class='form-control'  placeholder='Min cantidad electiva'>
                                            </div>
                                        </div>
                            </div><br><br>
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Minima credito electiva:</span>
                                                <input type='number' name='min_cre_elect' onkeyup="validarSoloNumeros('#min_cre_elect',1,2,true)"  maxlength='2' id='min_cre_elect' class='form-control'  placeholder='Min credito obligatorio'>
                                            </div>
                                        </div>
                            </div><br><br>
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Minima credito obligatorio:</span>
                                                <input type='number' name='min_cre_oblig'  onkeyup="validarSoloNumeros('#min_cre_oblig',1,3,true)"  maxlength='3' id='min_cre_oblig' class='form-control'  placeholder='Min credito obligatorio'>
                                            </div>
                                        </div>
                            </div><br><br>
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Fecha:</span>
                                                <input type='text' name='fecha' id='fecha' maxlength='25' class='form-control'  placeholder='Fecha'>
                                            </div>
                                        </div>
                            </div><br><br>
                            <div class="row-fluid">
                                    <div class="col-md-12 col-md-offset-0">     
                                        <div class="input-group">                                   
                                                <span class="input-group-addon">Observaciones:</span>
                                            <!--    <input type='text' name='observaciones' id='observaciones' maxlength='200' class='form-control'  placeholder='Observaciones'> -->
                                                ​<textarea id="observaciones" rows="3" cols="60" name='observaciones' id='observaciones' maxlength='200' class='form-control'  placeholder='Observaciones'></textarea>
                                            </div>
                                        </div>
                            </div><br><br>
                        </div>      
                            </form>	
                        </div>
                        				</div>
				
			


    </div>


</div>
                 

                        </div><div class="actions clearfix">
                        <ul role="menu" >
                        	<li class="disabled" >
                        		<a href="#previous" role="menuitem">Limpiar</a>
                        	</li>
                        	<li aria-hidden="false" class="" style="display: inline-block;">
                        		<a href="#next" role="menuitem">Guardar</a>
                        	</li>
                        </ul></div>
                    	</div>

                        <!-- -------------- /Wizard -------------- -->

                    </form>
                    <!-- -------------- /Form -------------- -->
                </div>
                <!-- -------------- /Spec Form -------------- -->

            </div>



{% endblock %}