{% extends 'Persona.html.twig' %}
{% block headVista %}
	<style>
		/*td
		{
			text-align:center;
		}	

		.contenedor{
			margin-top:5%;
		}

		.caja{
			 border: 2px solid #000;
			 padding:0%;
			 border-radius: 10px;
			 box-shadow: 2px 2px 10px #000;
		}

		.titulo-caja{
			background-color:#000;
			color:#fff;
			border:2px solid #000;	
			width:100%;	
			border-radius: 3px	
		}	

		
	    legend.scheduler-border {
		    width:inherit; /* Or auto */
		    padding:0 10px; /* To give a bit of padding on the left and right */
		    border-bottom:none;
		}




		fieldset.scheduler-border {

		    border: 1px groove #ddd !important;
		    /*padding: 0 1.4em 1.4em 1.4em !important;*/
		    padding: 0% 7% 2% 7%;
		    margin: 0 0 1.5em 0 !important;
		    -webkit-box-shadow:  0px 0px 0px 0px #000;
		            box-shadow:  0px 0px 0px 0px #000;
		}
		.posion-fieldset{
			padding: 0% 2%;
		}*/
	</style>

	<script>
		/*$(document).ready(function() {
		    $('#example').DataTable();
		} );*/
	</script>
	
{% endblock %}
{% block contenido %}
	<div class="contenedor">
		<div class="caja col-md-10 col-md-offset-1">
						
			<p class="text-center titulo-caja">
				<b>Busqueda de Persona</b>
			</p>

			<div class="posion-fieldset">
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">personalizacion de busqueda (no entiendo)</legend>
					<div class="selectInstituto">Instituto </div>
					<br>
					<div class="selectPensum">Pensum </div>
					<br>
					<div class="selectEstado">Estado </div>
					<br>
					<div class="text-right">
					<!--<div id="example_wrapper" class="dataTables_wrapper">
						<div id="example_filter" class="dataTables_filter">
							<label><input type="search" arial-controls="example" placeholder="buscador" class="form-control" ></input></label>
						</div>
					</div> -->
						<br>
						<button type="button" name="ods" class="btn btn-warning" title="Exportar en formato documento"><b>ODS</b></button>   

						<button type="button" name="pdf" class="btn btn-warning" title="Exportar en formato PDF"><b>PDF</b></button> 

						<button type="button" name="excel" class="btn btn-warning" title="Exportar en formato Excel"><b>Hoja de calculo</b></button> 
					</div>					
				</fieldset>	

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Resultados</legend>
						<div class="text-right">
							<button type="button" class="btn btn-info" title="Agregar una nueva persona" onclick="nuevoPersonaEstudiante();">
							  <span class="glyphicon glyphicon-plus"></span>
							</button>

							<button type="button" class="btn btn-info" title="Ver persona">
							  <span class="glyphicon glyphicon-search"></span>
							</button>

							<button type="button" class="btn btn-info" title="Editar persona" onclick="modificarPersona('holasss');">
							  <span class="glyphicon glyphicon-pencil"></span>
							</button>

							<button type="button" class="btn btn-info" title="Solo Empleados" onclick="verPersonaEmpleado();">
							  <b>Empleados</b>
							</button>

							<button type="button" class="btn btn-info" title="Solo Estudiantes" onclick="verPersonaEstudiante();">
								<b>Estudiantes<b>
							</button>
						</div>

						<table class="table table-hover" id="primeraTabla" " width="100%">
					      	<div class="text-center">
					            <tr>
					                <td>ID</td>
					                <td>Cedula</td>
					                <td>Apellido</td>
					                <td>Nombre</td>
					                <td>Correo</td>				                 
					            </tr>
					       	</div>	
					     
					       	<tbody id="listarPersona" >


					       	</tbody>

					       			 
				      
				            <div class="text-center">
					            <tr>
					                <td>ID</td>
					                <td>Cedula</td>
					                <td>Apellido</td>
					                <td>Nombre</td>
					                <td>Correo</td>				                 
					            </tr>
					       	</div>
				        
				 
				        
				    </table>
				</fieldset>			
			</div>
		</div>
	</div>

{% endblock %}