#sql{
	max-width:1100px;
	min-width:1100px;
	min-height:100px;
	
	font-family: monospace;
	font-size: 20px;
}

#res{
	max-width:1100px;
	min-width:1100px;
	
	min-height:100px;
	max-height:800px;
	
	overflow:auto;
	
	font-family: monospace;
	font-size: 12px;
}

.titulo{
	background:black;
	color:white;
}

