{% extends 'Base.html.twig' %}

{% block headModulo %}
	<link rel="stylesheet" href="modulos/principal/vista/html5/css/estilo.css">
{% endblock %}

{% block contenido %}

	<div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
            <li data-target="#Carousel" data-slide-to="3"></li>
            <li data-target="#Carousel" data-slide-to="4"></li>
        </ol>
       
        <div class="carousel-inner">
            <div class="item">
                <img src="recursos/imgPropias/fotos/foto.jpg" >
                <div class="carousel-caption">
                     <h1>INTERFAZ SENCILLA, AMABLE E INTUITIVA</h1>
                      <img class="dentro" src="recursos/imgPropias/fotos/sistema.jpg" >
                      <h2>Diseñada para cumplir todos los requerimientos de la manera más óptima posible.</h2>
                </div>
            </div>
            <div class="item">
                <img src="recursos/imgPropias/fotos/foto.jpg" >
                <div class="carousel-caption">
                    <h1>COMUNICACIÓN CONSTANTE CON EL USUARIO.</h1>
                    <img class="dentro" src="recursos/imgPropias/fotos/sistema2.jpg" >
                    <h2>Informa sobre todos los procesos para que no haya duda de las operaciones que realizó.</h2>
                </div>
            </div>
            <div class="item active">
                 <img src="recursos/imgPropias/fotos/foto.jpg" >
                <div class="carousel-caption">
                    <h1>ESTILO ONE-PAGE.</h1>
                    <img class="dentro" src="recursos/imgPropias/fotos/sistema3.jpg" >
                    <h2>Que hace amena la navegación, ya que usted no va a tener que abandonar una pantalla para poder hacer todo lo que a ella refiere.</h2>
                </div>
            </div>
            <div class="item">
                <img src="recursos/imgPropias/fotos/foto.jpg" >
                <div class="carousel-caption">
                     <h1>MENÚS INTERACTIVOS.</h1>
                    <img class="dentro" src="recursos/imgPropias/fotos/sistema4.jpg" >
                    <h2>Facilita su experiencia, ya que todo lo que necesita siempre lo tendrá a la mano.</h2>
                </div>
            </div>
            <div class="item">
                <img src="recursos/imgPropias/fotos/foto.jpg" >
                <div class="carousel-caption">
                     <h1>DESARROLLADO CON LAS MÁS ACTUALIZADAS HERRAMIENTAS DE PROGRAMACIÓN</h1>
                     <img class="dentro" src="recursos/imgPropias/fotos/sistema5.jpg" >
                     <h2>Que garantiza el mejor funcionamiento, fluidez y diseño óptimo de estructura.</h2>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}
